<h3>{{viewTitle}}</h3>

    <form action="/employee" autocomplete="off" method="POST">

    <input type="text" name="fullName" placeholder="nobre">

    <input type="text" name="email" placeholder="correo">

    <input type="text" name="mobile" placeholder="celular">

    <input type="text" name="city" placeholder="ciudad">

    <button type="submit">Guardar</button>
    </form>


